.navbar1 {
  background-image: url(./assets/main-bg.jpg);
  height: 120vh;
  background-size: cover;
}

.jumbotron .display-4 {
  font-size: 80px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 300px;
  text-align: center;
}
.jumbotron .lead {
  font-size: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}
.jumbotron .tombol {
  font-size: 16px;
  font-weight: bold;
  background-color: #f0ad4e;
  padding: 10px 50px;
  border-radius: 2px;
  border: none;
  align-items: center;
}
.section-2 {
  background-image: url(./assets/the-games-bg.jpg);
  height: 120vh;
  background-size: cover;
}
.container-section2 {
  padding-top: 350px;
}
.kolom-tulisan {
  float: left;
  flex: 3;
  order: 1;
  padding-bottom: 400px;
  color: white;
}
.gambar-gunting {
  float: right;
  flex: 6;
  order: 2;
}

.section-3 {
  background-image: url(./assets/features.jpg);
  height: 120vh;
  background-size: cover;
}

.section-3 h2 {
  color: #f0ad4e;
  font-weight: 200;
}

.v1 {
  border-left: 6px solid rgb(255, 255, 255);
  height: 100px;
}
.future {
  color: white;
  justify-content: end;
  margin-top: 500px;
}
.section-4 {
  background-image: url(./assets/requirements.png);
  height: 120vh;
  background-size: 100% 100%;
}
.table {
  color: white;
}
.sys {
  color: white;
  font-size: 80px;
  padding-top: 300px;
}
.tulisan-kecil {
  text-align: center;
  color: white;
  padding-top: 50px;
}
.section-5 {
  background-image: url(./assets/top-score-bg.png);
  height: 120vh;
  background-size: cover;
}

.tombol-see {
  font-size: 16px;
  font-weight: bold;
  background-color: #f0ad4e;
  padding: 10px 50px;
  border-radius: 2px;
  border: none;
  align-items: center;
  padding-top: 10px;
}
.card-testi {
  padding-top: 180px;
}
.score {
  color: white;
  padding-top: 500px;
}
.score h3 {
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-6 {
  background-image: url(./assets/newsletter.png);
  height: 120vh;
  background-size: cover;
  padding-top: 200px;
}

.news-letter {
  padding-top: 200px;
}
.footer {
  color: white;
  font-size: 30px;
}
