.navbar1 {
  background-image: url(./assets/main-bg.jpg);
  height: 120vh;
  background-size: 100% 100%;
}

.jumbotron .display-4 {
  font-size: 80px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 300px;
  text-align: center;
}
.jumbotron .lead {
  font-size: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}
.jumbotron .tombol {
  font-size: 16px;
  font-weight: bold;
  background-color: #f0ad4e;
  padding: 10px 50px;
  border-radius: 2px;
  border: none;
  align-items: center;
}
.section-2 {
  background-image: url(./assets/the-games-bg.jpg);
  height: 120vh;
  background-size: cover;
}
.forinfo {
  color: white;
  margin-top: 250px;
  padding-right: 0px;
}

.section-2 .forinfo {
  text-align: start;
  font-size: 36px;
  font-weight: lighter;
}
.section-2 p {
  color: white;
  font-size: 60px;
}

.gambar-gunting {
  padding-top: 300px;
  padding-right: 90px;
}

.future li {
  color: #f0ad4e;
  padding-right: 300px;
}

.section-3 {
  background-image: url(./assets/features.jpg);
  height: 120vh;
  background-size: cover;
}
.section-3 {
  color: white;
  text-align: start;
  padding-left: 1000px;
  padding-top: 250px;
}

.info {
  color: #f0ad4e;
}
.info p {
  color: white;
}

.section-4 {
  background-image: url(./assets/requirements.png);
  height: 120vh;
  background-size: 100% 100%;
}
.table {
  color: white;
}
.sys {
  color: white;
  font-size: 80px;
}
.tulisan-kecil {
  text-align: center;
  color: white;
  padding-top: 50px;
}
.section-5 {
  background-image: url(./assets/top-score-bg.png);
  height: 120vh;
  background-size: 100% 100%;
}

.tombol-see {
  font-size: 16px;
  font-weight: bold;
  background-color: #f0ad4e;
  padding: 10px 50px;
  border-radius: 2px;
  border: none;
  align-items: center;
  padding-top: 10px;
}
.score {
  color: white;
  padding-left: 200px;
  padding-top: 500px;
  border: #f0ad4e solid;
}
.score h3 {
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-6 {
  background-image: url(./assets/newsletter.png);
  height: 120vh;
  background-size: 100% 100%;
}
